@font-face {
  font-family: 'Barlow-Medium';
  src: 
  url('../fonts/Barlow-Medium.otf') format('opentype')
}

@font-face {
  font-family: 'Barlow-Light';
  src: 
  url('../fonts/Barlow-Light.otf') format('opentype')
}
